@use '../abstracts' as *;

.view-jsso-knowledge-hub {


    .more-link {
        flex: 1 1 30%;
        margin-top: 1rem;

        a {
            @include main-read-more-link-anchor(var(--clr-bg-300), var(--clr-brand-forestgreen), var(--clr-brand-lime), var(--clr-brand-forestgreen));
        }
    }

    .view-content {
        display: flex;
        flex-direction: row;
        gap: 2em 1em;
        justify-content: space-between;
        flex-wrap: wrap;

        .views-row {
            display: flex;
            flex: 1 1 calc(20% - 1em); // 4 per row
            max-width: calc(20% - 1em);

            .res-details {
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1.5em;
                    height: 100%;
                    background-color: var(--clr-brand-lime);
                    transition: all 0.3s ease-in-out;

                    .wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                    }

                    .res-img {
                        img {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                    }

                    .res-title {
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: var(--clr-brand-forestgreen);
                    }

                    .res-subtitle {
                        font-style: italic;
                        font-size: .9rem;
                    }

                    .res-type {
                        font-size: .85rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: var(--clr-brand-forestgreen);
                        background: var(--clr-brand-beige);
                        padding: 0.2rem 0.5rem;
                        width: fit-content;
                    }

                    .res-link {
                        display: flex;
                        justify-content: end;
                        @include after-psudo('\f061');
                        @include svg-fill-with-bg;
                    }

                    &:hover {

                        background-color: var(--clr-bg-300);

                        .res-link {
                            @include svg-link-hover-style(var(--clr-brand-forestgreen), var(--clr-brand-beige));
                        }
                    }
                }
            }

        }
    }
}