@use '../abstracts' as *;

.view-jsso-team {


    .attachment.attachment-before {
        padding: 2rem 0;

        .view-content {
            justify-content: center;
            align-items: center;
        }
    }

    .view-content {
        display: flex;
        flex-direction: row;
        gap: 2em 1em;
        justify-content: space-between;
        flex-wrap: wrap;

        .views-row {
            display: flex;
            flex: 1 1 calc(25% - 1em); // 4 per row
            max-width: calc(25% - 1em);

            .team-member-details {
                width: 100%;

                a {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    padding: 1.5em;
                    border-radius: 1em;
                    height: 100%;
                    background-color: var(--clr-bg-300);
                    transition: all 0.3s ease-in-out;
                    justify-content: center;
                    align-items: center;

                    .img {
                        img {
                            width: 160px;
                            height: 160px;
                            object-fit: cover;
                            border-radius: 100%;
                        }
                    }

                    .separator {
                        border-top: solid 1px var(--clr-brand-jsso-beige);
                        margin: 1em 0;
                        width: 100%;
                    }

                    .detail {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .text-detail {
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;
                        }
                    }

                    .name {
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: var(--clr-brand-jsso-primary);
                    }

                    .position {
                        font-style: italic;
                        font-size: .9rem;
                    }

                    .team-link {
                        @include after-psudo('\f061');
                        @include svg-fill-with-bg(var(--clr-brand-jsso-primary), var(--clr-brand-jsso-beige));
                    }

                    &:hover {
                        background: var(--clr-brand-jsso-lime);

                        .team-link {
                            @include svg-link-hover-style(var(--clr-brand-jsso-lime), var(--clr-brand-jsso-primary));
                        }
                    }
                }
            }

        }
    }

    .more-link {
        padding-top: 1rem;
        display: flex;
        justify-content: end;

        a {
            @include investflow-button;
            text-transform: capitalize;
        }
    }
}