body.path-frontpage {

    #block-jssotheme-main-navigation {
        .navbar-nav {
            .nav-item:first-child {
                display: none;
            }
        }
    }

    .frontresourcessection {
        background: var(--clr-brand-jsso-bluebeige);
        padding: 2rem 0;
    }


    .node__content {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        &:last-child {
            margin-bottom: 4rem;
        }
    }

    .no-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow: hidden;
        width: 100%;
    }

}