@use '../abstracts' as *;

body {
    margin: 0;
    background: var(--clr-bg-300);

    main {
        padding-top: 10rem;
    }

    &.user-logged-in {
        nav.navbar {
            padding-top: 3rem;
        }
    }
}

.block-views {
    h2 {
        padding: 2rem 0 0;

        span {
            font-size: 2.5rem;
            font-weight: 700;
            color: var(--clr-brand-jsso-secondary);
        }
    }
}


h1.jsso-heading-title {
    font-size: 3rem;
    width: 75%;
    padding-bottom: 1rem;

    .color-main {
        color: var(--clr-brand-jsso-primary);
    }

    .color-accent {
        color: var(--clr-brand-jsso-lime);
    }
}

@media (max-width: 768px) {
    h1.jsso-heading-title {
        font-size: 2rem;
        width: 100%;
        padding-bottom: 1rem;
    }
}

.edit-link {
    a {
        @include button-read-more-link-anchor;
    }
}