@use '../abstracts' as *;

body.path-frontpage {

    .block-views-blockjsso-knowledge-hub-block-1 {
        background: var(--clr-brand-forestgreen);
        padding: 2em;
        border-radius: 1em;


        h2 {
            span {
                color: var(--clr-bg-300) !important;
            }
        }

        h1.jsso-heading-title {
            span.color-main {
                color: var(--clr-bg-300) !important;
            }
        }
    }


}