// -----------------------------------------------------------------------------
// Header and Navigation Styling
// -----------------------------------------------------------------------------
header {
    .navbar {

        &.sticky{
            background: var(--clr-brand-forestgreen);
        }

        .container {
            position: relative;
            height: 100%;
            min-height: 100px;
            max-height: 100px;

            .region.region-nav-branding {
                position: absolute;
                top: 0;
                left: 0;

                .block-system-branding-block {
                    .navbar-brand {
                        padding: 0;
                    }
                }
            }
        }
    }
}


header {
    background-color: #fff;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 10;

    .navbar {
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 1.5rem;



        .nav-link {
            font-size: 1.15rem;
            font-weight: 600;
            line-height: 1.5;
            color: var(--clr-bg-300) !important; // Using our primary brand color
            /* Dark Grey */
            padding: 10px 20px;
            text-decoration: none;
            transition: color 0.3s ease, background-color 0.3s ease;
            display: flex;
            align-items: center;

            &:hover,
            &.active,
            &.is-active {
                color: var(--clr-brand-lime) !important; // Using our primary brand color
                text-decoration: none;
            }
        }
    }

    .navbar-brand {
        img {
            min-width: 100px;
            max-width: 100px;
            height: auto;
        }
    }
}